<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="CMSIS">
        <dir
          name="Core">
          <file
            name="core_cm4.h"/>
          <file
            name="core_cm4_simd.h"/>
          <file
            name="core_cmFunc.h"/>
          <file
            name="core_cmInstr.h"/>
        </dir>
        <dir
          name="SYS">
          <dir
            name="Inc">
            <file
              name="gd32f30x.h"/>
            <file
              name="system_gd32f30x.h"/>
          </dir>
          <dir
            name="Src"/>
        </dir>
        <dir
          name="StartUp"/>
      </dir>
      <dir
        name="Pheripherals">
        <dir
          name="Inc">
          <file
            name="gd32f30x_adc.h"/>
          <file
            name="gd32f30x_bkp.h"/>
          <file
            name="gd32f30x_can.h"/>
          <file
            name="gd32f30x_crc.h"/>
          <file
            name="gd32f30x_ctc.h"/>
          <file
            name="gd32f30x_dac.h"/>
          <file
            name="gd32f30x_dbg.h"/>
          <file
            name="gd32f30x_dma.h"/>
          <file
            name="gd32f30x_enet.h"/>
          <file
            name="gd32f30x_exmc.h"/>
          <file
            name="gd32f30x_exti.h"/>
          <file
            name="gd32f30x_fmc.h"/>
          <file
            name="gd32f30x_fwdgt.h"/>
          <file
            name="gd32f30x_gpio.h"/>
          <file
            name="gd32f30x_i2c.h"/>
          <file
            name="gd32f30x_misc.h"/>
          <file
            name="gd32f30x_pmu.h"/>
          <file
            name="gd32f30x_rcu.h"/>
          <file
            name="gd32f30x_rtc.h"/>
          <file
            name="gd32f30x_sdio.h"/>
          <file
            name="gd32f30x_spi.h"/>
          <file
            name="gd32f30x_timer.h"/>
          <file
            name="gd32f30x_usart.h"/>
          <file
            name="gd32f30x_wwdgt.h"/>
        </dir>
        <dir
          name="Src"/>
      </dir>
      <dir
        name="User">
        <dir
          name="Inc">
          <file
            name="gd32f30x_it.h"/>
          <file
            name="gd32f30x_libopt.h"/>
          <file
            name="main.h"/>
          <file
            name="systick.h"/>
        </dir>
        <dir
          name="Src"/>
      </dir>
      <dir
        name="Utilties">
        <dir
          name="Inc">
          <file
            name="gd32f307c_eval.h"/>
        </dir>
        <dir
          name="Src"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Assembly"/>
    <language
      name="C++"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <assembly_options
    assembler="Coldfire 68K"
    leading_spaces_option="true"
    save_macro_expansion_text="false"
    search_for_include_files_among_project_files="true"
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Microsoft Visual C++"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports>
    <files>
      <file
        name="./Keil_project/Project.uvprojx"
        configuration="GD32F30X_HD"/>
    </files>
  </imports>
</project>
